.border-1
{
    border-bottom: 3px solid #17a2b8;
    line-height: 50px;
    margin-right: 290px;
    
}
.border-2
{
    border-bottom: 3px solid #17a2b8;
    line-height: 50px;
    margin-right: 179px;
}